/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Margarine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Margarine&display=swap');

body {
  font-family: 'Familjen Grotesk', sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inventario-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.inventario-title {
  font-size: 48px;
  font-family: 'Margarine', sans-serif;
  color: #ff2647;
  margin-bottom: 30px;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 250px;
  height: 250px;
  background: #ff6678;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  background-color: rgba(255, 38, 71, 0.3);
}

.card-image {
  width: 80%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.card-text {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
